:root {
    --primary-color: #FEDD00;
    --secondary-color: white;
}
body {
    /*background-image: url(minion-bg.jpg);*/
    margin: 0px;
    }
#header {
    background-color: var(--primary-color);
    font-family: fantasy;
    font-size:larger;
    text-align:center;
    padding: 3px;
}
h2 {
    font-family: fantasy;
    font-size: larger;
    color: var(--primary-color);-webkit-text-stroke: 1px black;
    text-align:center;    
}
#input {
    width: 60%;
    height: 100px; 
    border-radius: 5px;
    padding:5px;
    display: block;
    margin: auto;
    font-family: comic sans MS;  
}
#output {
    border: 1px solid rgb(168, 103, 103);
    width: 60%;
    height: 100px;
    border-radius: 5px;
    padding:5px;
    margin:auto;
    font-family: comic sans MS;
}
#btnTranslate {
    background-color: var(--primary-color);
    border-radius: 10px;
    display:block;
    margin: auto;
}
#footer {
    background-color: var(--primary-color);
    font-family: comic sans MS;
    text-align:center;
    height: 100px;
    padding: 20px;    
}